@{
 //   Layout = null;
}

<div class="span3">
    <h3>Tipo de Activos</h3>
    <div class="main-tree">
        <ul id="files">
            <li><a href="documents">Electrónicos</a>
                <ul>
                    <li><a href="documents/Christines_Files/">DVD</a>
                        <ul>
                            <li><a href="#">Pioneer DV-15</a></li>
                            <li><a href="#">Sony HD-45</a></li>
                        </ul>
                    </li>
                    <li><a href="documents/Nathans_Stuff/">Bocinas</a>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                    <li><a href="documents/Travel_Ideas/">Televisiones</a>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="movies">Herramientas</a>
                <ul>
                    <li><a href="#">Manuales</a>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                    <li><a href="#">Electricas</a>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="music">Artes</a>
                <ul>
                    <li><a href="#">Pinturas</a>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
